<div class="wrapper px-4">
  <div class="row">
    <div class="col">
      <h2>Wish list</h2>
    </div>
    <div class="col-5">
      <div class="count">{{ count }}</div>
    </div>
  </div>
  <div class="wish__card pb-2 row" *ngFor="let product of listProducts">
    <div class="col">
      <img
        [src]="product.image"
        alt="poduct Image"

      />
    </div>
    <div class="col">
      <h5 class="card-title">{{ product.title }}</h5>
      <p class="card-text">{{ product.price}}</p>
    </div>
  </div>
</div>
