.container{
   width:60%;
   margin: 0 auto;
}

form{
   width: 60%;
   margin:8rem auto;
}
p{
text-align: center;
text-transform: capitalize;
}

button{
   display: block;
   margin: auto;
}

.confirm{
   color:green;
}
.ignore{
   color:red;
}